{
  "openapi": "3.0.0",
  "info": {
    "title": "MVSEP API",
    "version": "1.0.0",
    "description": "# MVSEP API Documentation\n\n## Overview\n\nThe MVSEP (Music Voice Separation) API provides a comprehensive platform for audio source separation, allowing you to separate vocals, instruments, and other audio components from mixed audio files. This API enables developers to integrate professional-grade audio separation capabilities into their applications.\n\n**Base URL:** `https://mvsep.com/api`\n\n## Key Features\n\n- **Audio Separation**: Create and retrieve audio separation tasks with various algorithms\n    \n- **User Management**: Register, login, and manage user profiles\n    \n- **Premium Features**: Enable/disable premium functionality for enhanced processing\n    \n- **Separation History**: Track and retrieve past separation jobs\n    \n- **Quality Control**: Add and manage quality checker entries\n    \n- **Algorithm Discovery**: Browse available separation algorithms\n    \n- **News & Updates**: Access platform news and announcements\n    \n\n## Getting Started\n\n1. **Register an Account**: Use the `/app/register` endpoint to create a new account\n    \n2. **Login**: Authenticate using the `/app/login` endpoint to receive your API token\n    \n3. **Set API Token**: Store the `api_token` in your environment variables for authenticated requests\n    \n4. **Explore Algorithms**: Check available separation algorithms via `/app/algorithms`\n    \n5. **Create Separation**: Submit audio files for processing using `/separation/create`\n    \n6. **Retrieve Results**: Poll the separation status and download results with `/separation/get`\n    \n\n## Authentication\n\nMost endpoints require authentication using an API token. The token should be passed as a query parameter:\n\n```\n?api_token={{api_token}}\n\n ```\n\n**Environment Variable:**\n\n- `api_token` - Your personal API authentication token (obtained after login)\n    \n\n### How to Authenticate\n\n1. Register or login to receive your API token\n    \n2. Store the token in the `api_token` environment variable\n    \n3. The token will be automatically included in authenticated requests\n    \n\n**Example:**\n\n```\nGET https://mvsep.com/api/app/user?api_token={{api_token}}\n\n ```\n\n## API Endpoints\n\n### Authentication & User Management\n\n#### Register\n\n- **Endpoint**: `POST /app/register`\n    \n- **Description**: Create a new user account\n    \n- **Authentication**: Not required\n    \n\n#### Login\n\n- **Endpoint**: `POST /app/login`\n    \n- **Description**: Authenticate and receive API token\n    \n- **Authentication**: Not required\n    \n- **Returns**: API token for subsequent requests\n    \n\n#### User Profile\n\n- **Endpoint**: `GET /app/user`\n    \n- **Description**: Retrieve current user information\n    \n- **Authentication**: Required (`api_token`)\n    \n\n#### Demo\n\n- **Endpoint**: `GET /app/demo`\n    \n- **Description**: Access demo functionality\n    \n- **Authentication**: Not required\n    \n\n---\n\n### Audio Separation\n\n#### Get Available Algorithms\n\n- **Endpoint**: `GET /app/algorithms`\n    \n- **Description**: List all available audio separation algorithms\n    \n- **Authentication**: Not required\n    \n- **Use Case**: Discover which separation models are available before creating a separation task\n    \n\n#### Create Separation\n\n- **Endpoint**: `POST /separation/create`\n    \n- **Description**: Submit an audio file for separation processing\n    \n- **Authentication**: Required\n    \n- **Process**: Upload audio file and specify desired separation algorithm\n    \n\n#### Get Separation Results\n\n- **Endpoint**: `GET /separation/get`\n    \n- **Description**: Retrieve separation results by hash\n    \n- **Authentication**: Not required\n    \n- **Parameters**:\n    \n    - `hash` - Unique identifier for the separation task\n        \n- **Example**: `/separation/get?hash=20240119124024-413c481b80-10-luke-s-theme-a-madman-s-symphony.mp3`\n    \n\n#### Separation History\n\n- **Endpoint**: `GET /app/separation_history`\n    \n- **Description**: Retrieve user's past separation jobs\n    \n- **Authentication**: Required (`api_token`)\n    \n- **Parameters**:\n    \n    - `start` - Starting index for pagination (e.g., 1)\n        \n    - `limit` - Number of results to return (e.g., 2)\n        \n- **Example**: `/app/separation_history?api_token={{api_token}}&start=1&limit=2`\n    \n\n---\n\n### Profile Management\n\nThe Profile folder contains endpoints for managing user preferences and features:\n\n#### Enable Premium\n\n- **Endpoint**: `POST /app/enable_premium`\n    \n- **Description**: Activate premium features for the user account\n    \n- **Authentication**: Required\n    \n\n#### Disable Premium\n\n- **Endpoint**: `POST /app/disable_premium`\n    \n- **Description**: Deactivate premium features\n    \n- **Authentication**: Required\n    \n\n#### Enable Long Filenames\n\n- **Endpoint**: `POST /app/enable_long_filenames`\n    \n- **Description**: Enable support for long filename processing\n    \n- **Authentication**: Required\n    \n\n#### Disable Long Filenames\n\n- **Endpoint**: `POST /app/disable_long_filenames`\n    \n- **Description**: Disable long filename support\n    \n- **Authentication**: Required\n    \n\n---\n\n### Quality Checker\n\nQuality control endpoints for managing separation quality entries:\n\n#### Add Entry\n\n- **Endpoint**: `POST /quality_checker/add`\n    \n- **Description**: Add a new quality checker entry\n    \n- **Authentication**: Required\n    \n\n#### Delete Entry\n\n- **Endpoint**: `POST /quality_checker/delete`\n    \n- **Description**: Remove a quality checker entry\n    \n- **Authentication**: Required\n    \n    \n\n---\n\n### News & Information\n\n#### Get News\n\n- **Endpoint**: `GET /app/news`\n    \n- **Description**: Retrieve platform news and announcements\n    \n- **Authentication**: Not required\n    \n- **Parameters**:\n    \n    - `lang` - Language code (e.g., 'ru', 'en')\n        \n    - `start` - Starting index for pagination\n        \n    - `limit` - Number of news items to return\n        \n- **Example**: `/app/news?lang=ru&start=2&limit=1`\n    \n\n---\n\n## Typical Workflow\n\n1. **Register/Login** → Obtain `api_token`\n    \n2. **Get Algorithms** → Choose separation algorithm\n    \n3. **Create Separation** → Upload audio file\n    \n4. **Poll Status** → Check separation progress\n    \n5. **Get Results** → Download separated audio tracks\n    \n6. **View History** → Access past separations\n    \n\n## Rate Limits & Pricing\n\nPremium accounts may have different rate limits and access to advanced algorithms. Use the premium enable/disable endpoints to manage subscription features.\n\n## Support & Resources\n\nFor additional information about audio separation algorithms, processing times, and best practices, please refer to the MVSEP platform documentation at [https://mvsep.com](https://mvsep.com).\n\n## Environment Variables\n\nMake sure to configure the following environment variable in your Postman environment:\n\n| Variable | Description | Example |\n| --- | --- | --- |\n| `api_token` | Your API authentication token | `your-token-here` |\n\n---\n\n**API Version**: 1.0  \n**Last Updated**: 2024  \n**Contact**: For support, visit [https://mvsep.com](https://mvsep.com)"
  },
  "servers": [
    {
      "url": "https://mvsep.com"
    }
  ],
  "paths": {
    "/api/app/enable_long_filenames": {
      "post": {
        "summary": "Enable Long Filenames",
        "responses": {
          "200": {
            "description": "Enable Long Filenames",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Sat, 30 Mar 2024 06:31:36 GMT"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "Apache/2.4.41 (Ubuntu)"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache, private"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": "120"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": "119"
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string"
                },
                "example": "timeout=5, max=100"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "Keep-Alive"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "message": "successfully enabled"
                }
              }
            }
          }
        },
        "tags": [
          "Profile"
        ]
      }
    },
    "/api/app/enable_premium": {
      "post": {
        "summary": "Enable Premium",
        "responses": {
          "200": {
            "description": "Enable Premium",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Sat, 30 Mar 2024 06:33:22 GMT"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "Apache/2.4.41 (Ubuntu)"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache, private"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": "120"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": "118"
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string"
                },
                "example": "timeout=5, max=100"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "Keep-Alive"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "message": "successfully enabled"
                }
              }
            }
          }
        },
        "tags": [
          "Profile"
        ]
      }
    },
    "/api/app/disable_premium": {
      "post": {
        "summary": "Disable Premium",
        "responses": {
          "200": {
            "description": "Disable Premium",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Sat, 30 Mar 2024 06:44:04 GMT"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "Apache/2.4.41 (Ubuntu)"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache, private"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": "120"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": "119"
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string"
                },
                "example": "timeout=5, max=100"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "Keep-Alive"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "message": "successfully disabled"
                }
              }
            }
          }
        },
        "tags": [
          "Profile"
        ]
      }
    },
    "/api/app/user": {
      "get": {
        "summary": "User",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "{{api_token}}"
          }
        ],
        "responses": {},
        "tags": [
          "Profile"
        ]
      }
    },
    "/api/app/disable_long_filenames": {
      "post": {
        "summary": "Disable Long FIlenames",
        "responses": {
          "200": {
            "description": "Disable Long Filenames",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Sat, 30 Mar 2024 06:43:00 GMT"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "Apache/2.4.41 (Ubuntu)"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache, private"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": "120"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": "119"
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string"
                },
                "example": "timeout=5, max=100"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "Keep-Alive"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "message": "successfully disabled"
                }
              }
            }
          }
        },
        "tags": [
          "Profile"
        ]
      }
    },
    "/api/app/separation_history": {
      "get": {
        "summary": "Separation History",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "{{api_token}}"
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "2"
          }
        ],
        "responses": {
          "200": {
            "description": "Separation History",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Fri, 10 May 2024 08:02:47 GMT"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "Apache/2.4.52 (Ubuntu)"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache, private"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": "120"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": "119"
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string"
                },
                "example": "timeout=5, max=100"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "Keep-Alive"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "hash": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "style"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "job_exists": {
                            "type": "boolean"
                          },
                          "credits": {
                            "type": "integer"
                          },
                          "time_left": {
                            "type": "integer"
                          },
                          "algorithm": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "algorithm_group_id": {
                                "type": "integer"
                              },
                              "orientation": {
                                "type": "integer"
                              },
                              "render_id": {
                                "type": "integer"
                              },
                              "order_id": {
                                "type": "integer"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "style"
                              },
                              "updated_at": {
                                "type": "string"
                              },
                              "algorithm_group": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "created_at": {
                                    "type": "string",
                                    "format": "style"
                                  },
                                  "updated_at": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": 1074359,
                      "hash": "20240212161927-413c481b80-10-luke-s-theme-a-madman-s-symphony.mp3",
                      "created_at": "2024-02-12 16:19:29",
                      "updated_at": "2024-02-12 16:19:29",
                      "job_exists": true,
                      "credits": 2,
                      "time_left": -2031,
                      "algorithm": {
                        "name": "Demucs4 HT (vocals, drums, bass, other)",
                        "algorithm_group_id": 2,
                        "orientation": 1,
                        "render_id": 20,
                        "order_id": 1,
                        "created_at": "2022-11-28 09:37:27",
                        "updated_at": "2023-03-13 02:52:03",
                        "algorithm_group": {
                          "id": 2,
                          "name": "HQ Models",
                          "created_at": "2022-11-28 05:54:31",
                          "updated_at": "2022-11-28 05:54:31"
                        }
                      }
                    },
                    {
                      "id": 1074358,
                      "hash": "20240212095132-413c481b80-10-luke-s-theme-a-madman-s-symphony.mp3",
                      "created_at": "2024-02-12 09:51:34",
                      "updated_at": "2024-02-12 09:51:34",
                      "job_exists": true,
                      "credits": 2,
                      "time_left": -2038,
                      "algorithm": {
                        "name": "Demucs4 HT (vocals, drums, bass, other)",
                        "algorithm_group_id": 2,
                        "orientation": 1,
                        "render_id": 20,
                        "order_id": 1,
                        "created_at": "2022-11-28 09:37:27",
                        "updated_at": "2023-03-13 02:52:03",
                        "algorithm_group": {
                          "id": 2,
                          "name": "HQ Models",
                          "created_at": "2022-11-28 05:54:31",
                          "updated_at": "2022-11-28 05:54:31"
                        }
                      }
                    },
                    {
                      "id": 1074357,
                      "hash": "20240212075543-a274f83da2-4-un-poco-de-tu-amor-5.flac",
                      "created_at": "2024-02-12 07:55:44",
                      "updated_at": "2024-02-12 07:55:44",
                      "job_exists": true,
                      "credits": 3,
                      "time_left": -2040,
                      "algorithm": {
                        "name": "Demucs4 HT (vocals, drums, bass, other)",
                        "algorithm_group_id": 2,
                        "orientation": 1,
                        "render_id": 20,
                        "order_id": 1,
                        "created_at": "2022-11-28 09:37:27",
                        "updated_at": "2023-03-13 02:52:03",
                        "algorithm_group": {
                          "id": 2,
                          "name": "HQ Models",
                          "created_at": "2022-11-28 05:54:31",
                          "updated_at": "2022-11-28 05:54:31"
                        }
                      }
                    },
                    {
                      "id": 1074356,
                      "hash": "20240206094315-fb58a4ed91-haliene-dream-in-color-0.mp3",
                      "created_at": "2024-02-06 09:43:15",
                      "updated_at": "2024-02-06 09:43:15",
                      "job_exists": true,
                      "credits": 3,
                      "time_left": -2182,
                      "algorithm": {
                        "name": "Demucs4 HT (vocals, drums, bass, other)",
                        "algorithm_group_id": 2,
                        "orientation": 1,
                        "render_id": 20,
                        "order_id": 1,
                        "created_at": "2022-11-28 09:37:27",
                        "updated_at": "2023-03-13 02:52:03",
                        "algorithm_group": {
                          "id": 2,
                          "name": "HQ Models",
                          "created_at": "2022-11-28 05:54:31",
                          "updated_at": "2022-11-28 05:54:31"
                        }
                      }
                    },
                    {
                      "id": 1074355,
                      "hash": "20240206094008-b2e84deb3a-haliene-dream-in-color.mp3",
                      "created_at": "2024-02-06 09:40:08",
                      "updated_at": "2024-02-06 09:40:08",
                      "job_exists": true,
                      "credits": 3,
                      "time_left": -2182,
                      "algorithm": {
                        "name": "Demucs4 HT (vocals, drums, bass, other)",
                        "algorithm_group_id": 2,
                        "orientation": 1,
                        "render_id": 20,
                        "order_id": 1,
                        "created_at": "2022-11-28 09:37:27",
                        "updated_at": "2023-03-13 02:52:03",
                        "algorithm_group": {
                          "id": 2,
                          "name": "HQ Models",
                          "created_at": "2022-11-28 05:54:31",
                          "updated_at": "2022-11-28 05:54:31"
                        }
                      }
                    },
                    {
                      "id": 1074354,
                      "hash": "20240205145513-c46e6a674c-skylar-grey-im-coming-home-ano-remix-z2-fm.mp3",
                      "created_at": "2024-02-05 14:55:13",
                      "updated_at": "2024-02-05 14:55:13",
                      "job_exists": true,
                      "credits": 3,
                      "time_left": -2201,
                      "algorithm": {
                        "name": "MDX23C (vocals, instrumental)",
                        "algorithm_group_id": 2,
                        "orientation": 0,
                        "render_id": 25,
                        "order_id": 2,
                        "created_at": "2023-07-05 15:32:54",
                        "updated_at": "2023-07-05 15:33:54",
                        "algorithm_group": {
                          "id": 2,
                          "name": "HQ Models",
                          "created_at": "2022-11-28 05:54:31",
                          "updated_at": "2022-11-28 05:54:31"
                        }
                      }
                    },
                    {
                      "id": 1074351,
                      "hash": "20240205144711-c46e6a674c-skylar-grey-im-coming-home-ano-remix-z2-fm.mp3",
                      "created_at": "2024-02-05 14:47:11",
                      "updated_at": "2024-02-05 14:47:11",
                      "job_exists": true,
                      "credits": 3,
                      "time_left": -2201,
                      "algorithm": {
                        "name": "MDX23C (vocals, instrumental)",
                        "algorithm_group_id": 2,
                        "orientation": 0,
                        "render_id": 25,
                        "order_id": 2,
                        "created_at": "2023-07-05 15:32:54",
                        "updated_at": "2023-07-05 15:33:54",
                        "algorithm_group": {
                          "id": 2,
                          "name": "HQ Models",
                          "created_at": "2022-11-28 05:54:31",
                          "updated_at": "2022-11-28 05:54:31"
                        }
                      }
                    },
                    {
                      "id": 1074350,
                      "hash": "20240124130755-f40709507a-sample-15s-4.mp3",
                      "created_at": "2024-01-24 13:07:55",
                      "updated_at": "2024-01-24 13:07:55",
                      "job_exists": true,
                      "credits": 1,
                      "time_left": -2490,
                      "algorithm": {
                        "name": "Demucs4 HT (vocals, drums, bass, other)",
                        "algorithm_group_id": 2,
                        "orientation": 1,
                        "render_id": 20,
                        "order_id": 1,
                        "created_at": "2022-11-28 09:37:27",
                        "updated_at": "2023-03-13 02:52:03",
                        "algorithm_group": {
                          "id": 2,
                          "name": "HQ Models",
                          "created_at": "2022-11-28 05:54:31",
                          "updated_at": "2022-11-28 05:54:31"
                        }
                      }
                    },
                    {
                      "id": 1074349,
                      "hash": "20240124130325-514b0abb0f-sample-3s-26.mp3",
                      "created_at": "2024-01-24 13:03:25",
                      "updated_at": "2024-01-24 13:03:25",
                      "job_exists": true,
                      "credits": 1,
                      "time_left": -2490,
                      "algorithm": {
                        "name": "Demucs4 HT (vocals, drums, bass, other)",
                        "algorithm_group_id": 2,
                        "orientation": 1,
                        "render_id": 20,
                        "order_id": 1,
                        "created_at": "2022-11-28 09:37:27",
                        "updated_at": "2023-03-13 02:52:03",
                        "algorithm_group": {
                          "id": 2,
                          "name": "HQ Models",
                          "created_at": "2022-11-28 05:54:31",
                          "updated_at": "2022-11-28 05:54:31"
                        }
                      }
                    },
                    {
                      "id": 1074348,
                      "hash": "20240119124024-413c481b80-10-luke-s-theme-a-madman-s-symphony.mp3",
                      "created_at": "2024-01-19 12:40:25",
                      "updated_at": "2024-01-19 15:49:37",
                      "job_exists": true,
                      "credits": 9,
                      "time_left": -2611,
                      "algorithm": {
                        "name": "Ensemble 8 models (vocals, bass, drums, other)",
                        "algorithm_group_id": 3,
                        "orientation": 2,
                        "render_id": 28,
                        "order_id": 2,
                        "created_at": "2023-03-17 11:50:21",
                        "updated_at": "2023-08-07 23:36:52",
                        "algorithm_group": {
                          "id": 3,
                          "name": "Ensemble",
                          "created_at": "2022-11-28 05:54:38",
                          "updated_at": "2022-11-28 05:54:38"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Profile"
        ]
      }
    },
    "/api/quality_checker/add": {
      "post": {
        "summary": "Add Entry",
        "responses": {
          "200": {
            "description": "Add Entry",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "nginx"
              },
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Wed, 22 Jan 2025 11:27:18 GMT"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "Vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "private, must-revalidate"
              },
              "pragma": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache"
              },
              "expires": {
                "schema": {
                  "type": "integer"
                },
                "example": "-1"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": "120"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": "119"
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "gzip"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "link": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": 7772,
                    "link": "https://mvsep.com/api/quality_checker/entry?id=7772"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Quality Checker"
        ]
      }
    },
    "/api/quality_checker/delete": {
      "post": {
        "summary": "Delete Entry",
        "responses": {
          "200": {
            "description": "Delete Entry",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Wed, 22 Jan 2025 10:44:53 GMT"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "Apache/2.4.52 (Ubuntu)"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache, private"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": "120"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": "119"
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string"
                },
                "example": "timeout=5, max=100"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "Keep-Alive"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "message": "successfully deleted"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Quality Checker"
        ]
      }
    },
    "/api/app/algorithms": {
      "get": {
        "summary": "Algorithms",
        "responses": {
          "200": {
            "description": "Algorithms",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Mon, 05 Feb 2024 14:31:08 GMT"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "Apache/2.4.52 (Ubuntu)"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache, private"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "example": "60"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "example": "59"
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string"
                },
                "example": "timeout=5, max=100"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "Keep-Alive"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      },
                      "algorithm_group_id": {
                        "type": "integer"
                      },
                      "orientation": {
                        "type": "integer"
                      },
                      "render_id": {
                        "type": "integer"
                      },
                      "order_id": {
                        "type": "integer"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "style"
                      },
                      "updated_at": {
                        "type": "string"
                      },
                      "additional_fields": {
                        "nullable": true
                      },
                      "price_coefficient": {
                        "type": "integer"
                      },
                      "is_active": {
                        "type": "integer"
                      },
                      "algorithm_fields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "name": {
                              "type": "string"
                            },
                            "text": {
                              "type": "string"
                            },
                            "algorithm_id": {
                              "type": "integer"
                            },
                            "options": {
                              "type": "string",
                              "format": "style"
                            },
                            "created_at": {
                              "type": "string"
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "style"
                            },
                            "default_key": {
                              "type": "string",
                              "format": "utc-millisec"
                            },
                            "server_key": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "algorithm_descriptions": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "short_description": {
                              "type": "string",
                              "format": "style"
                            },
                            "long_description": {
                              "type": "string",
                              "format": "style"
                            },
                            "lang": {
                              "type": "string"
                            },
                            "algorithm_id": {
                              "type": "integer"
                            },
                            "created_at": {
                              "type": "string",
                              "format": "style"
                            },
                            "updated_at": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": [
                  {
                    "id": 27,
                    "name": "Ensemble 4 models (vocals, instrum)",
                    "algorithm_group_id": 3,
                    "orientation": 2,
                    "render_id": 26,
                    "order_id": 1,
                    "created_at": "2023-07-05 16:18:13",
                    "updated_at": "2024-01-19 12:36:05",
                    "additional_fields": null,
                    "price_coefficient": 2,
                    "is_active": 0,
                    "algorithm_fields": [
                      {
                        "id": 18,
                        "name": "add_opt1",
                        "text": "Output files",
                        "algorithm_id": 27,
                        "options": "{\n    \"0\": \"Standard set\",\n    \"1\": \"Include intermediate results and max_fft, min_fft\"\n}",
                        "created_at": "2024-01-03 14:57:46",
                        "updated_at": "2024-01-03 14:57:46",
                        "default_key": "0",
                        "server_key": "detailed"
                      }
                    ],
                    "algorithm_descriptions": [
                      {
                        "id": 9,
                        "short_description": "Ансамбль 4 моделей: UVR-MDX-NET-Voc_FT, Demucs4 Vocals 2023, лучшую модель MDX23C и VitLarge23. Алгоритм даёт максимально возможное качество для вокальной и инструментальной дорожек.",
                        "long_description": "<p>Ансамбль 4 моделей: UVR-MDX-NET-Voc_FT, Demucs4 Vocals 2023, лучшую модель MDX23C и VitLarge23. Алгоритм даёт максимально возможное качество для вокальной и инструментальной дорожек.</p>\r\n<p><strong>Таблица качества</strong></p>\r\n<table style=\"border-collapse: collapse; width: 100%; height: 134.4px; border: 1px solid #CED4D9;\" border=\"1\">\r\n<tbody>\r\n<tr style=\"height: 22.4px;\">\r\n<td style=\"height: 22.4px; border-width: 1px; border-color: rgb(206, 212, 217); width: 22.3022%;\" rowspan=\"2\">Algorithm name</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 28.8569%;\" colspan=\"2\"><strong>Multisong dataset</strong></td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 29.2566%;\" colspan=\"2\"><strong>Synth dataset</strong></td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 19.5843%;\"><strong>MDX23 Leaderboard</strong></td>\r\n</tr>\r\n<tr style=\"height: 44.8px;\">\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.9089%;\">SDR Vocals</td>\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 14.948%;\">SDR Instrumental</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 15.5076%;\">SDR Vocals</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.749%;\">SDR Instrumental</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 19.5843%;\">SDR Vocals</td>\r\n</tr>\r\n<tr style=\"height: 22.4px;\">\r\n<td style=\"height: 22.4px; border-width: 1px; border-color: rgb(206, 212, 217); width: 22.3022%;\">MDX23C Ensemble</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.9089%; height: 22.4px;\">10.44</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 14.948%; height: 22.4px;\">16.74</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 15.5076%; height: 22.4px;\">12.76</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.749%; height: 22.4px;\">12.46</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 19.5843%;\">11.17</td>\r\n</tr>\r\n</tbody>\r\n</table>",
                        "lang": "ru",
                        "algorithm_id": 27,
                        "created_at": "2023-07-05 23:12:31",
                        "updated_at": "2023-11-20 16:57:32"
                      },
                      {
                        "id": 10,
                        "short_description": "Ensemble of UVR-MDX-NET-Voc_FT, Demucs4 Vocals 2023, best MDX23C model and VitLarge23 model. Algorithm gives the highest possible quality for vocal and instrumental stems.",
                        "long_description": "<p>Ensemble of UVR-MDX-NET-Voc_FT, Demucs4 Vocals 2023, best MDX23C model and VitLarge23 model. Algorithm gives the highest possible quality for vocal and instrumental stems.</p>\r\n<p><strong>Quality table</strong></p>\r\n<table style=\"border-collapse: collapse; width: 100%; height: 134.4px; border: 1px solid #CED4D9;\" border=\"1\">\r\n<tbody>\r\n<tr style=\"height: 22.4px;\">\r\n<td style=\"height: 22.4px; border-width: 1px; border-color: rgb(206, 212, 217); width: 24.5404%;\" rowspan=\"2\">Algorithm name</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 28.697%;\" colspan=\"2\"><strong>Multisong dataset</strong></td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 28.9369%;\" colspan=\"2\"><strong>Synth dataset</strong></td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 17.8257%;\"><strong>MDX23 Leaderboard</strong></td>\r\n</tr>\r\n<tr style=\"height: 44.8px;\">\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.9089%;\">SDR Vocals</td>\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 14.7882%;\">SDR Instrumental</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 15.2678%;\">SDR Vocals</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.6691%;\">SDR Instrumental</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 17.8257%;\">SDR Vocals</td>\r\n</tr>\r\n<tr style=\"height: 22.4px;\">\r\n<td style=\"height: 22.4px; border-width: 1px; border-color: rgb(206, 212, 217); width: 24.5404%;\">Ensemble of 4 models</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.9089%; height: 22.4px;\">10.44</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 14.7882%; height: 22.4px;\">16.74</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 15.2678%; height: 22.4px;\">12.76</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.6691%; height: 22.4px;\">12.46</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 17.8257%;\">11.17</td>\r\n</tr>\r\n</tbody>\r\n</table>",
                        "lang": "en",
                        "algorithm_id": 27,
                        "created_at": "2023-07-05 23:13:11",
                        "updated_at": "2023-11-20 16:57:06"
                      }
                    ]
                  },
                  {
                    "id": 22,
                    "name": "Ensemble 8 models (vocals, bass, drums, other)",
                    "algorithm_group_id": 3,
                    "orientation": 2,
                    "render_id": 28,
                    "order_id": 2,
                    "created_at": "2023-03-17 11:50:21",
                    "updated_at": "2023-08-07 23:36:52",
                    "additional_fields": null,
                    "price_coefficient": 4,
                    "is_active": 1,
                    "algorithm_fields": [
                      {
                        "id": 19,
                        "name": "add_opt1",
                        "text": "Output files",
                        "algorithm_id": 22,
                        "options": "{\n    \"0\": \"Standard set\",\n    \"1\": \"Include intermediate results and max_fft, min_fft\"\n}",
                        "created_at": "2024-01-03 15:28:01",
                        "updated_at": "2024-01-03 15:28:01",
                        "default_key": "0",
                        "server_key": "detailed"
                      }
                    ],
                    "algorithm_descriptions": [
                      {
                        "id": 6,
                        "short_description": "This ensemble is based on algorithm which took 2nd place at Music Demixing Track of Sound Demixing Challenge 2023. The main changes comparing to contest version is much better vocal models, which is used here. UVR-MDX-NET-Voc_FT, Demucs4 Vocals 2023, best MDX23C model and VitLarge23 model. For stems 'bass', 'drums' and 'other' we us the following 4 models: demucsht_ft, deumcs_ht, demucs_6s and demucs_mmi.",
                        "long_description": "<p>This ensemble is based on algorithm which took 2nd place at Music Demixing Track of Sound Demixing Challenge 2023. The main changes comparing to contest version is much better vocal models, which is used here. We use following 4 models for vocals: UVR-MDX-NET-Voc_FT, Demucs4 Vocals 2023, best MDX23C model and VitLarge23 model. For stems 'bass', 'drums' and 'other' we us the following 4 models: demucsht_ft, deumcs_ht, demucs_6s and demucs_mmi. Initial winning model available here:&nbsp;<a href=\"https://github.com/ZFTurbo/MVSEP-MDX23-music-separation-model\" target=\"_blank\" rel=\"noopener\">https://github.com/ZFTurbo/MVSEP-MDX23-music-separation-model</a></p>\r\n<p><strong>Quality table</strong></p>\r\n<table style=\"border-collapse: collapse; width: 100%; height: 134.4px; border: 1px solid #CED4D9;\" border=\"1\"><colgroup><col style=\"width: 13.9384%;\"><col style=\"width: 11.5883%;\"><col style=\"width: 15.154%;\"><col style=\"width: 14.5057%;\"><col style=\"width: 16.8558%;\"><col style=\"width: 14.9919%;\"><col style=\"width: 12.8849%;\"></colgroup>\r\n<tbody>\r\n<tr style=\"height: 22.4px;\">\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\" colspan=\"5\"><strong>Multisong dataset</strong></td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\" colspan=\"2\"><strong>Synth dataset</strong></td>\r\n</tr>\r\n<tr style=\"height: 44.8px;\">\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Bass</td>\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Drums</td>\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Other</td>\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Vocals</td>\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Instrumental</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Vocals</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Instrumental</td>\r\n</tr>\r\n<tr style=\"height: 22.4px;\">\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">12.52</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">11.73</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">7.01</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">10.30</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">16.60</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 15.0271%;\">12.67</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 14.6291%;\">12.38</td>\r\n</tr>\r\n</tbody>\r\n</table>\r\n<p>&nbsp;</p>\r\n<table style=\"border-collapse: collapse; width: 55.1417%; height: 134.4px; border: 1px solid rgb(206, 212, 217);\" border=\"1\"><colgroup><col style=\"width: 25.3093%;\"><col style=\"width: 20.9224%;\"><col style=\"width: 27.5591%;\"><col style=\"width: 26.2092%;\"></colgroup>\r\n<tbody>\r\n<tr style=\"height: 22.4px;\">\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\" colspan=\"4\"><strong>MDX23 Leaderboard</strong></td>\r\n</tr>\r\n<tr style=\"height: 44.8px;\">\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Bass</td>\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Drums</td>\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Other</td>\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Vocals</td>\r\n</tr>\r\n<tr style=\"height: 22.4px;\">\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">9.937</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">9.559</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">7.280</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">11.093</td>\r\n</tr>\r\n</tbody>\r\n</table>",
                        "lang": "en",
                        "algorithm_id": 22,
                        "created_at": "2023-06-12 11:53:43",
                        "updated_at": "2023-10-04 03:07:24"
                      },
                      {
                        "id": 13,
                        "short_description": "Ансамбль основан на алгоритме, занявшем 2-е место на Music Demixing Track of Sound Demixing Challenge 2023. Основное отличие от конкурсной версии — гораздо более совершенные вокальные модели, которые здесь используются. Для вокала мы используем следующие 4 модели: UVR-MDX-NET-Voc_FT, Demucs4 Vocals 2023, лучшую модель MDX23C и VitLarge23. Для дорожек «bass», «drums» и «other» мы используем следующие 4 модели: demucsht_ft, demucs_ht, demucs_6s и demucs_mmi.",
                        "long_description": "<p>Ансамбль основан на алгоритме, занявшем 2-е место на Music Demixing Track of Sound Demixing Challenge 2023. Основное отличие от конкурсной версии &mdash; гораздо более совершенные вокальные модели, которые здесь используются. Для вокала мы используем следующие 4 модели: UVR-MDX-NET-Voc_FT, Demucs4 Vocals 2023, лучшую модель MDX23C и VitLarge23. Для дорожек &laquo;bass&raquo;, &laquo;drums&raquo; и &laquo;other&raquo; мы используем следующие 4 модели: demucsht_ft, demucs_ht, demucs_6s и demucs_mmi.&nbsp;<span class=\"HwtZe\" lang=\"ru\"><span class=\"jCAhz ChMk0b\"><span class=\"ryNqvb\">Первоначальная конкурсная модель доступна здесь:</span></span></span> <a href=\"https://github.com/ZFTurbo/MVSEP-MDX23-music-separation-model\" target=\"_blank\" rel=\"noopener\">https://github.com/ZFTurbo/MVSEP-MDX23-music-separation-model</a></p>\r\n<p><strong>Таблицы качества</strong></p>\r\n<table style=\"border-collapse: collapse; width: 100%; height: 134.4px; border: 1px solid #CED4D9;\" border=\"1\"><colgroup><col style=\"width: 13.9384%;\"><col style=\"width: 11.5883%;\"><col style=\"width: 15.154%;\"><col style=\"width: 14.5057%;\"><col style=\"width: 16.8558%;\"><col style=\"width: 14.9919%;\"><col style=\"width: 12.966%;\"></colgroup>\r\n<tbody>\r\n<tr style=\"height: 22.4px;\">\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\" colspan=\"5\"><strong>Multisong dataset</strong></td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\" colspan=\"2\"><strong>Synth dataset</strong></td>\r\n</tr>\r\n<tr style=\"height: 44.8px;\">\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Bass</td>\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Drums</td>\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Other</td>\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Vocals</td>\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Instrumental</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Vocals</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Instrumental</td>\r\n</tr>\r\n<tr style=\"height: 22.4px;\">\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">12.52</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">11.73</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">7.01</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">10.30</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">16.60</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 15.0271%;\">12.67</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 14.6291%;\">12.38</td>\r\n</tr>\r\n</tbody>\r\n</table>\r\n<p>&nbsp;</p>\r\n<table style=\"border-collapse: collapse; width: 55.1417%; height: 134.4px; border: 1px solid rgb(206, 212, 217);\" border=\"1\"><colgroup><col style=\"width: 25.2941%;\"><col style=\"width: 20.8824%;\"><col style=\"width: 27.5%;\"><col style=\"width: 26.1765%;\"></colgroup>\r\n<tbody>\r\n<tr style=\"height: 22.4px;\">\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\" colspan=\"4\"><strong>MDX23 Leaderboard</strong></td>\r\n</tr>\r\n<tr style=\"height: 44.8px;\">\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Bass</td>\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Drums</td>\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Other</td>\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Vocals</td>\r\n</tr>\r\n<tr style=\"height: 22.4px;\">\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">9.937</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">9.559</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">7.280</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">11.093</td>\r\n</tr>\r\n</tbody>\r\n</table>",
                        "lang": "ru",
                        "algorithm_id": 22,
                        "created_at": "2023-08-09 18:12:12",
                        "updated_at": "2023-10-04 03:07:31"
                      }
                    ]
                  },
                  {
                    "id": 32,
                    "name": "Ensemble All-In (vocals, bass, drums, piano, guitar, lead/back vocals, other)",
                    "algorithm_group_id": 3,
                    "orientation": 2,
                    "render_id": 30,
                    "order_id": 3,
                    "created_at": "2023-10-03 17:14:37",
                    "updated_at": "2023-10-03 17:14:37",
                    "additional_fields": null,
                    "price_coefficient": 6,
                    "is_active": 1,
                    "algorithm_fields": [
                      {
                        "id": 20,
                        "name": "add_opt1",
                        "text": "Output files",
                        "algorithm_id": 32,
                        "options": "{\n    \"0\": \"Standard set\",\n    \"1\": \"Include intermediate results and max_fft, min_fft\"\n}",
                        "created_at": "2024-01-03 23:26:56",
                        "updated_at": "2024-01-03 23:26:56",
                        "default_key": "0",
                        "server_key": "detailed"
                      }
                    ],
                    "algorithm_descriptions": []
                  },
                  {
                    "id": 21,
                    "name": "Demucs4 HT (vocals, drums, bass, other)",
                    "algorithm_group_id": 2,
                    "orientation": 1,
                    "render_id": 20,
                    "order_id": 1,
                    "created_at": "2022-11-28 09:37:27",
                    "updated_at": "2023-03-13 02:52:03",
                    "additional_fields": null,
                    "price_coefficient": 1,
                    "is_active": 1,
                    "algorithm_fields": [
                      {
                        "id": 7,
                        "name": "add_opt1",
                        "text": "Model type",
                        "algorithm_id": 21,
                        "options": "{\n    \"0\": \"htdemucs_ft (High Quality, Slow)\",\n    \"1\": \"htdemucs (Good Quality, Fast)\",\n    \"2\": \"htdemucs_6s (6 stems, additional piano and guitar)\"\n}",
                        "created_at": "2023-02-28 17:13:55",
                        "updated_at": "2023-06-12 12:25:27",
                        "default_key": "1",
                        "server_key": "model_type"
                      }
                    ],
                    "algorithm_descriptions": [
                      {
                        "id": 3,
                        "short_description": "Algorithm Demucs4 HT. Best for bass/drums/other.",
                        "long_description": "<p>Algorithm Demucs4 HT splits track into 4 stems (bass, drums, vocals, other). It's now best for bass/drums/other separation. It was released in year 2022 and has 3 versions:&nbsp;</p>\r\n<ul>\r\n<li>htdemucs_ft - best quality, but slow</li>\r\n<li>htdemucs - lower quality, but fast</li>\r\n<li>htdemucs_6d - it has 2 additional stems \"piano\" and \"guitar\" (quality for them is still so-so).</li>\r\n</ul>\r\n<p>Link: <a href=\"https://github.com/facebookresearch/demucs/tree/ht/demucs\" target=\"_blank\" rel=\"noopener\">https://github.com/facebookresearch/demucs/tree/ht/demucs</a></p>\r\n<p><strong>Quality table</strong></p>\r\n<table style=\"border-collapse: collapse; width: 100%; height: 134.4px; border: 1px solid #CED4D9;\" border=\"1\"><colgroup><col style=\"width: 16.3695%;\"><col style=\"width: 7.94165%;\"><col style=\"width: 7.77958%;\"><col style=\"width: 8.02269%;\"><col style=\"width: 9.15721%;\"><col style=\"width: 12.0746%;\"><col style=\"width: 10.2107%;\"><col style=\"width: 11.5883%;\"><col style=\"width: 16.8558%;\"></colgroup>\r\n<tbody>\r\n<tr style=\"height: 22.4px;\">\r\n<td style=\"height: 22.4px; border-width: 1px; border-color: rgb(206, 212, 217);\" rowspan=\"2\">Algorithm name</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\" colspan=\"5\"><strong>Multisong dataset</strong></td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\" colspan=\"2\"><strong>Synth dataset</strong></td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\"><strong>MDX23 Leaderboard</strong></td>\r\n</tr>\r\n<tr style=\"height: 44.8px;\">\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Bass</td>\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Drums</td>\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Other</td>\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Vocals</td>\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Instrumental</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Vocals</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Instrumental</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Vocals</td>\r\n</tr>\r\n<tr style=\"height: 22.4px;\">\r\n<td style=\"height: 22.4px; border-width: 1px; border-color: rgb(206, 212, 217);\">htdemucs_ft</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">12.05</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">11.24</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">5.74</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">8.33</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">14.63</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">10.23</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">9.94</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\"><a href=\"https://www.aicrowd.com/challenges/sound-demixing-challenge-2023/problems/music-demixing-track-mdx-23/submissions/236184\">9.08</a></td>\r\n</tr>\r\n<tr style=\"height: 22.4px;\">\r\n<td style=\"height: 22.4px; border-width: 1px; border-color: rgb(206, 212, 217);\">htdemucs</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">11.74</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">10.90</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">5.57</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">8.18</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">14.49</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">---</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">---</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">&nbsp;</td>\r\n</tr>\r\n<tr style=\"height: 22.4px;\">\r\n<td style=\"height: 22.4px; border-width: 1px; border-color: rgb(206, 212, 217);\">htdemucs_6d</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">11.42</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">10.59</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">2.63</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">8.17</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">14.48</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">---</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">---</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">&nbsp;</td>\r\n</tr>\r\n</tbody>\r\n</table>",
                        "lang": "en",
                        "algorithm_id": 21,
                        "created_at": "2023-04-08 14:44:31",
                        "updated_at": "2023-08-01 15:02:20"
                      },
                      {
                        "id": 4,
                        "short_description": "Алгоритм Demucs4 HT. Лучший для разделения на bass/drums/other.",
                        "long_description": "<p>Алгоритм Demucs4 HT. Лучший для разделения на bass/drums/other. Он был представлен в 2022 году командой из Facebook research. У алгоритма 3 версии:&nbsp;</p>\r\n<ul>\r\n<li>htdemucs_ft - лучшее качество, но медленный</li>\r\n<li>htdemucs - ниже качество, но быстрый</li>\r\n<li>htdemucs_6d - имеет два дополнительных стема для разделения \"piano\" и \"guitar\" (качество пока среднее).</li>\r\n</ul>\r\n<p>Ссылка: <a href=\"https://github.com/facebookresearch/demucs/tree/ht/demucs\" target=\"_blank\" rel=\"noopener\">https://github.com/facebookresearch/demucs/tree/ht/demucs</a></p>\r\n<p><strong>Метрики качества разделения</strong></p>\r\n<table style=\"border-collapse: collapse; width: 100%; height: 134.4px; border: 1px solid #CED4D9;\" border=\"1\"><colgroup><col style=\"width: 16.3695%;\"><col style=\"width: 7.94165%;\"><col style=\"width: 7.77958%;\"><col style=\"width: 8.02269%;\"><col style=\"width: 9.15721%;\"><col style=\"width: 12.0746%;\"><col style=\"width: 10.2107%;\"><col style=\"width: 11.5883%;\"><col style=\"width: 16.8558%;\"></colgroup>\r\n<tbody>\r\n<tr style=\"height: 22.4px;\">\r\n<td style=\"height: 22.4px; border-width: 1px; border-color: rgb(206, 212, 217);\" rowspan=\"2\">Название алгоритма</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\" colspan=\"5\"><strong>Multisong dataset</strong></td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\" colspan=\"2\"><strong>Synth dataset</strong></td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\"><strong>MDX23 Leaderboard</strong></td>\r\n</tr>\r\n<tr style=\"height: 44.8px;\">\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Bass</td>\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Drums</td>\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Other</td>\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Vocals</td>\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Instrumental</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Vocals</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Instrumental</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">SDR Vocals</td>\r\n</tr>\r\n<tr style=\"height: 22.4px;\">\r\n<td style=\"height: 22.4px; border-width: 1px; border-color: rgb(206, 212, 217);\">htdemucs_ft</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">12.05</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">11.24</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">5.74</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">8.33</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">14.63</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">10.23</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">9.94</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\"><a href=\"https://www.aicrowd.com/challenges/sound-demixing-challenge-2023/problems/music-demixing-track-mdx-23/submissions/236184\">9.08</a></td>\r\n</tr>\r\n<tr style=\"height: 22.4px;\">\r\n<td style=\"height: 22.4px; border-width: 1px; border-color: rgb(206, 212, 217);\">htdemucs</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">11.74</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">10.90</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">5.57</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">8.18</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">14.49</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">---</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">---</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">&nbsp;</td>\r\n</tr>\r\n<tr style=\"height: 22.4px;\">\r\n<td style=\"height: 22.4px; border-width: 1px; border-color: rgb(206, 212, 217);\">htdemucs_6d</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">11.42</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">10.59</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">2.63</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">8.17</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">14.48</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">---</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">---</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217);\">&nbsp;</td>\r\n</tr>\r\n</tbody>\r\n</table>",
                        "lang": "ru",
                        "algorithm_id": 21,
                        "created_at": "2023-04-08 15:16:15",
                        "updated_at": "2023-08-01 15:04:04"
                      }
                    ]
                  },
                  {
                    "id": 26,
                    "name": "MDX23C (vocals, instrumental)",
                    "algorithm_group_id": 2,
                    "orientation": 0,
                    "render_id": 25,
                    "order_id": 2,
                    "created_at": "2023-07-05 15:32:54",
                    "updated_at": "2023-07-05 15:33:54",
                    "additional_fields": null,
                    "price_coefficient": 1,
                    "is_active": 1,
                    "algorithm_fields": [
                      {
                        "id": 10,
                        "name": "add_opt1",
                        "text": "Vocal model type",
                        "algorithm_id": 26,
                        "options": "{\n    \"3\": \"12K FFT, Large Conv, Hop 1024 (SDR vocals: 9.95, SDR instrum: 16.26)\",\n    \"2\": \"12K FFT, Large Conv (SDR vocals: 9.71, SDR instrum: 16.02)\",\n    \"0\": \"12K FFT (SDR vocals: 9.68, SDR instrum: 15.99)\",\n    \"1\": \"12K FFT, 6 Poolings (SDR vocals: 9.49, SDR instrum: 15.79)\",\n    \"4\": \"8K FFT (SDR vocals: 10.17, SDR instrum: 16.48)\",\n    \"7\": \"8K FFT (SDR vocals: 10.36, SDR instrum: 16.66)\"\n}",
                        "created_at": "2023-07-05 15:39:05",
                        "updated_at": "2023-11-10 03:10:51",
                        "default_key": "7",
                        "server_key": "model_type"
                      }
                    ],
                    "algorithm_descriptions": [
                      {
                        "id": 7,
                        "short_description": "MDX23C models. Best for vocals/instrumental separation.",
                        "long_description": "<p>New set of models MDX23C is based on code released by <a href=\"https://github.com/kuielab/sdx23\">kuielab</a> for Sound Demixing Challenge 2023. All models are full band, e.g. they don't cut high frequences.</p>\r\n<p><strong>Quality table</strong></p>\r\n<table style=\"border-collapse: collapse; width: 100%; height: 156.8px; border: 1px solid rgb(206, 212, 217);\" border=\"1\">\r\n<tbody>\r\n<tr style=\"height: 22.4px;\">\r\n<td style=\"height: 67.2px; border-width: 1px; border-color: rgb(206, 212, 217); width: 25.2836%;\" rowspan=\"2\">Algorithm name</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 27.7148%;\" colspan=\"2\"><strong>Multisong dataset</strong></td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 26.4992%; height: 22.4px;\" colspan=\"2\"><strong>Synth dataset</strong></td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 20.5024%; height: 22.4px;\"><strong>MDX23 Leaderboard<br></strong></td>\r\n</tr>\r\n<tr style=\"height: 44.8px;\">\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.8574%;\">SDR Vocals</td>\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.8574%;\">SDR Instrumental</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.7737%; height: 44.8px;\">SDR Vocals</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 12.7255%; height: 44.8px;\">SDR Instrumental</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 20.5024%; height: 44.8px;\">SDR Vocals</td>\r\n</tr>\r\n<tr style=\"height: 22.4px;\">\r\n<td style=\"height: 22.4px; border-width: 1px; border-color: rgb(206, 212, 217); width: 25.2836%;\">12K FFT, Full Band, Large Conv, Hop 1024</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.8574%;\">9.95</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.8574%;\">16.26</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.7737%; height: 22.4px;\">11.74</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 12.7255%; height: 22.4px;\">11.44</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 20.5024%; height: 22.4px;\">10.78</td>\r\n</tr>\r\n<tr style=\"height: 22.4px;\">\r\n<td style=\"height: 22.4px; border-width: 1px; border-color: rgb(206, 212, 217); width: 25.2836%;\">12K FFT, Full Band, Large Conv</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.8574%;\">9.71</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.8574%;\">16.02</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.7737%; height: 22.4px;\">---</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 12.7255%; height: 22.4px;\">---</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 20.5024%; height: 22.4px;\">---</td>\r\n</tr>\r\n<tr style=\"height: 22.4px;\">\r\n<td style=\"height: 22.4px; border-width: 1px; border-color: rgb(206, 212, 217); width: 25.2836%;\">12K FFT, Full Band</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.8574%;\">9.68</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.8574%;\">15.99</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.7737%; height: 22.4px;\">---</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 12.7255%; height: 22.4px;\">---</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 20.5024%; height: 22.4px;\">---</td>\r\n</tr>\r\n<tr style=\"height: 22.4px;\">\r\n<td style=\"height: 22.4px; border-width: 1px; border-color: rgb(206, 212, 217); width: 25.2836%;\">12K FFT, Full Band, 6 Poolings</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.8574%;\">9.49</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.8574%;\">15.79</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.7737%; height: 22.4px;\">---</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 12.7255%; height: 22.4px;\">---</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 20.5024%; height: 22.4px;\">---</td>\r\n</tr>\r\n<tr>\r\n<td style=\"border-width: 1px; border-color: rgb(206, 212, 217); width: 25.2836%;\">8K FFT, Full Band (v1)</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.8574%;\">10.17</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.8574%;\">16.48</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.7737%;\">12.35</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 12.7255%;\">12.06</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 20.5024%;\">11.04</td>\r\n</tr>\r\n<tr>\r\n<td style=\"border-width: 1px; border-color: rgb(206, 212, 217); width: 25.2836%;\">8K FFT, Full Band (v2)</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.8574%;\">10.36</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.8574%;\">16.66</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.7737%;\">12.52</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 12.7255%;\">12.22</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 20.5024%;\">11.16</td>\r\n</tr>\r\n</tbody>\r\n</table>",
                        "lang": "en",
                        "algorithm_id": 26,
                        "created_at": "2023-07-05 22:52:12",
                        "updated_at": "2023-11-20 16:56:09"
                      },
                      {
                        "id": 8,
                        "short_description": "Модели MDX23C. Лучший выбор для разделения на вокальную и инструментальную дорожки.",
                        "long_description": "<p>Новый набор моделей MDX23C, основанный на коде опубликованном <a href=\"https://github.com/kuielab/sdx23\">kuielab</a> в рамках Sound Demixing Challenge 2023. Результаты полученных моделей содержат весь частотный спектр и имеют максимальные метрики качества для вокала и музыки на MultiSong Dataset и Synth Dataset.</p>\r\n<p><strong>Таблица качества</strong></p>\r\n<table style=\"border-collapse: collapse; width: 100%; height: 156.8px; border: 1px solid rgb(206, 212, 217);\" border=\"1\">\r\n<tbody>\r\n<tr style=\"height: 22.4px;\">\r\n<td style=\"height: 67.2px; border-width: 1px; border-color: rgb(206, 212, 217); width: 25.2836%;\" rowspan=\"2\">Algorithm name</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 27.7148%;\" colspan=\"2\"><strong>Multisong dataset</strong></td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 26.4992%; height: 22.4px;\" colspan=\"2\"><strong>Synth dataset</strong></td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 20.4214%; height: 22.4px;\"><strong>MDX23 Leaderboard<br></strong></td>\r\n</tr>\r\n<tr style=\"height: 44.8px;\">\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.8574%;\">SDR Vocals</td>\r\n<td style=\"height: 44.8px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.8574%;\">SDR Instrumental</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.7763%; height: 44.8px;\">SDR Vocals</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 12.7229%; height: 44.8px;\">SDR Instrumental</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 20.4214%; height: 44.8px;\">SDR Vocals</td>\r\n</tr>\r\n<tr style=\"height: 22.4px;\">\r\n<td style=\"height: 22.4px; border-width: 1px; border-color: rgb(206, 212, 217); width: 25.2836%;\">12K FFT, Full Band, Large Conv, Hop 1024</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.8574%;\">9.95</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.8574%;\">16.26</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.7763%; height: 22.4px;\">11.74</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 12.7229%; height: 22.4px;\">11.44</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 20.4214%; height: 22.4px;\">10.78</td>\r\n</tr>\r\n<tr style=\"height: 22.4px;\">\r\n<td style=\"height: 22.4px; border-width: 1px; border-color: rgb(206, 212, 217); width: 25.2836%;\">12K FFT, Full Band, Large Conv</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.8574%;\">9.71</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.8574%;\">16.02</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.7763%; height: 22.4px;\">---</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 12.7229%; height: 22.4px;\">---</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 20.4214%; height: 22.4px;\">---</td>\r\n</tr>\r\n<tr style=\"height: 22.4px;\">\r\n<td style=\"height: 22.4px; border-width: 1px; border-color: rgb(206, 212, 217); width: 25.2836%;\">12K FFT, Full Band</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.8574%;\">9.68</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.8574%;\">15.99</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.7763%; height: 22.4px;\">---</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 12.7229%; height: 22.4px;\">---</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 20.4214%; height: 22.4px;\">---</td>\r\n</tr>\r\n<tr style=\"height: 22.4px;\">\r\n<td style=\"height: 22.4px; border-width: 1px; border-color: rgb(206, 212, 217); width: 25.2836%;\">12K FFT, Full Band, 6 Poolings</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.8574%;\">9.49</td>\r\n<td style=\"height: 22.4px; text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.8574%;\">15.79</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.7763%; height: 22.4px;\">---</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 12.7229%; height: 22.4px;\">---</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 20.4214%; height: 22.4px;\">---</td>\r\n</tr>\r\n<tr>\r\n<td style=\"border-width: 1px; border-color: rgb(206, 212, 217); width: 25.2836%;\">8K FFT, Full Band</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.8574%;\">10.17</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.8574%;\">16.48</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.7763%;\">12.35</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 12.7229%;\">12.06</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 20.4214%;\">11.04</td>\r\n</tr>\r\n<tr>\r\n<td style=\"border-width: 1px; border-color: rgb(206, 212, 217); width: 25.2836%;\">8K FFT, Full Band (v2)</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.8574%;\">10.36</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.8574%;\">16.66</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 13.7763%;\">12.52</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 12.7229%;\">12.22</td>\r\n<td style=\"text-align: center; border-width: 1px; border-color: rgb(206, 212, 217); width: 20.4214%;\">11.16</td>\r\n</tr>\r\n</tbody>\r\n</table>",
                        "lang": "ru",
                        "algorithm_id": 26,
                        "created_at": "2023-07-05 23:05:50",
                        "updated_at": "2023-11-20 16:56:28"
                      }
                    ]
                  },
                  {
                    "id": 24,
                    "name": "MDX B (vocals, instrumental)",
                    "algorithm_group_id": 2,
                    "orientation": 0,
                    "render_id": 23,
                    "order_id": 3,
                    "created_at": "2023-05-21 13:17:51",
                    "updated_at": "2023-07-05 15:34:06",
                    "additional_fields": null,
                    "price_coefficient": 1,
                    "is_active": 1,
                    "algorithm_fields": [
                      {
                        "id": 8,
                        "name": "add_opt1",
                        "text": "Vocal model type",
                        "algorithm_id": 24,
                        "options": "{\n    \"7\": \"MDX Kimberley Jensen v2 2023.05.21 (SDR: 9.60)\",\n    \"0\": \"MDX UVR 2022.01.01 (SDR: 8.83)\",\n    \"1\": \"MDX UVR 2022.07.25(SDR: 8.67)\",\n    \"2\": \"MDX Kimberley Jensen v1 2023.02.12  (SDR: 9.48)\",\n    \"4\": \"UVR-MDX-NET-Inst_HQ_2 (SDR: 9.12)\",\n    \"5\": \"UVR_MDXNET_Main (SDR: 8.79)\",\n    \"6\": \"MDX Kimberley Jensen Inst (SDR: 9.28)\",\n    \"8\": \"UVR-MDX-NET-Inst_HQ_3 (SDR: 9.38)\",\n    \"9\": \"UVR-MDX-NET-Voc_FT (SDR: 9.64)\"\n}",
                        "created_at": "2023-05-21 13:23:46",
                        "updated_at": "2023-07-31 01:32:52",
                        "default_key": "9",
                        "server_key": "model_type"
                      }
                    ],
                    "algorithm_descriptions": [
                      {
                        "id": 12,
                        "short_description": "MDX B models are based on kuielab code from Music Demixing Challenge 2021. Models were retrained by UVR team on big dataset. For long time models were best for vocals/instrumental separation.",
[...]
